[submodule "depends/libiop"]
	path = depends/libiop
	url = https://github.com/graikos/libiop
	branch = ffupdate
[submodule "depends/zkOpenFHE"]
	path = depends/zkOpenFHE
	url = https://github.com/graikos/zkOpenFHE
